* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  object-fit: cover;
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  width: 100vw;
}

nav button {
  border-radius: 0.3rem;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  outline: solid 1px #ccc;
  color: #777;
}

.pokemon-list {
  padding: 0.5rem;
  width: 100%;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pokemon {
  z-index: 1;
  position: relative;
  height: 10.2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(50, 208, 97);
  text-transform: capitalize;
  overflow: hidden;
}

.pokemon .name {
  font-size: 1.1rem;
  color: rgb(255, 255, 255, 0.9);
  font-weight: bold;
  padding-bottom: 0.5rem;
  text-shadow: 0 2px 2px rgb(0, 0, 0, 0.3);
}
.pokemon .types {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.pokemon .types p {
  border-radius: 0.3rem;
  width: fit-content;
  padding: 0.2rem 0.4rem;
  color: rgb(0, 0, 0, 0.7);
  background-color: rgb(255, 255, 255, 0.3);
}

.pokemon .number {
  color: rgb(255, 255, 255, 0.65);
  text-align: right;
}

.pokemon .image {
  z-index: -1;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  max-width: 50%;
  opacity: 0.6;
  transition: 1000ms;
}

.pokemon:hover .image {
  transition: 200ms;
  opacity: 1;
}
