$grass: #78c850;
$fire: #f08030;
$water: #668ff0;
$normal: #a8a878;
$bug: #a8b820;
$fairy: #dea5de;
$steel: #b8b8d0;
$dark: #705848;
$dragon: #7038f8;
$ghost: #705898;
$rock: #b8a038;
$psychic: #f85888;
$flying: #a890f0;
$ground: #e0c068;
$poison: #a040a0;
$fighting: #c03028;
$ice: #98d8d8;
$electric: #f8d030;

$red: #ff0000
$blue: #3b4cca
$yellow: #ffde00